footer {
   background-color: #000000;
   color: #B2C1B2;
   font-family: 'Permanent Marker', cursive;
   font-size: 36px;
   text-align: center;
   padding: 3rem;
   border-top: #FF3329 solid 5px;
   button {
       background-color: #B2C1B2;
       margin-top: 10px;
       border-radius: 10px;
   }
 }
