header {
        font-family: 'Permanent Marker', cursive;
        font-size: 36px;
        font-weight: bold;
        color: #B2C1B2;
        text-align: center;
        padding: 3rem;
        border-bottom: #FF3329 solid 5px; 
}
